<h1> Welcome to CURE HOSPITALS</h1>
<br/>
<h3>Below are the services provided by CURE:</h3>

{% if all_services %}
     <ul>

         {% for service in all_services %}
             <li><a href="/Services/{{ service.category }}">
                 {{ service.category }}</a></li>
          {% endfor %}
     </ul>
{% endif %}

<h4>Book Your Appointment</h4>
<form action= "{% url 'Services:book_appointment' %}" method="POST">
    {% csrf_token %}
    <label for="your_name">Your Name:</label>
    <input id="your_name" type="text" name="your_name" value=""><br/>
    <label for="your_age">Your Age:</label>
    <input id="your_age" type="text" name="your_age" value=""><br/>
    <label for="doctor_ame">Doctor Name:</label>

    <select name="doctor_name" id="doctor_ame">
        {% for doctor in all_doctors %}
            <option value="{{ doctor.id }}">{{ doctor.name }} </option>
        {% endfor %}
    </select><br/>


    <label for="your_time">Booking Time:</label>
    <input id="your_time" type="datetime-local" name="your_time" value="{{ timestamp }}">
    <br/><br/>
    <input type="submit" value="Book Appointment">

</form>